.content-wrapper {
  background: url(../../../img/blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-page {
  background: url(../../../img/blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-logo {
  color: white;
}

.box-body {
  min-height: 500px;
}